<body>
          
           <%= form_tag('../notaparticularprofesor/index',method:"get") do %>
              <%=password_field_tag(:cedulaEstudiante)%>
              <%=submit_tag("buscar")%>
           <%end%>

</body>